.panel-list {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 16px 3vh 16px;
  
  display: flex;
  flex-direction: column;
  gap: 15px;

  .panel-card {
    border-radius: 10px;
    border: 1px solid #F4F4F4;
    background: rgba(242, 242, 242, 0.50);
    padding: 15px;
    
    &:not(:last-child) {
      //margin-bottom: 25px;
    }
    
    & > .panel_info:first-child {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(210,210,210,0.8);
    }

    .panel_info {
      display: flex;
      justify-content: space-between;
  
      & > div:last-child {
        text-align: right;
      }

      h4 {
        margin-bottom: 3px;
      }
    }
  }

  .yield {
    &.daily, &.total {
      display: flex;
      align-items: center;
    }
  }
}

.totals {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 1vh;

  & > div:last-child {
    text-align: right;
  }

  h3 {
    margin-bottom: 3px;
  }

  .yield {
    &.daily, &.total {
      display: unset;
    }
  }

  .unit {
    padding-left: 0px;
  }
}

.weather-icon {
  width: 150px;
  height: auto;
  margin: auto auto;
}